{% extends 'base.html.twig' %}

{% block title %}FormaGreen::Green Areas{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 col-md-12 ml-auto mr-auto">
            <div class="row">
                <div class="col-md-3">
                    <a href="{{ path('new_greenarea') }}" class="btn btn-success btn-block">New Green Area <i
                                class="material-icons">nature</i></a>
                </div>
                <div class="col-md-3">
                    <a href="{{ path('greenarea_index') }}" class="btn btn-success btn-block">Afficher la carte <i
                                class="material-icons">map</i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title ">Liste Des Green Area</h4>
                    <p class="card-category">Association FormaGreen Green Areas</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                ID
                            </th>
                            <th>
                                Détails
                            </th>
                            <th>
                                Latitude
                            </th>
                            <th>
                                Longitude
                            </th>
                            <th>
                                Début travaux
                            </th>
                            <th>
                                Fin travaux
                            </th>
                            <th colspan="2">
                                Actions
                            </th>
                            </thead>
                            <tbody>
                            {% if gareas is empty %}
                                <tr>
                                    <td colspan="7">
                                        <div class="alert alert-warning" role="alert" data-mdb-color="warning">
                                            Aucun green area n'existe actuellement...
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                {% for ga in gareas %}
                                    <tr>
                                        <td>
                                            {{ ga.getId() }}
                                        </td>
                                        <td class="text-primary">
                                            {{ ga.getGaDetails() }}
                                        </td>
                                        <td>
                                            {{ ga.getGaLat() }}
                                        </td>
                                        <td>
                                            {{ ga.getGaLong() }}
                                        </td>
                                        <td>
                                            {{ ga.getGaStartedAt()|date("m/d/Y") }}
                                        </td>
                                        <td>
                                            {{ ga.getGaFinishedAt()|date("m/d/Y") }}
                                        </td>
                                        <td>
                                            <a href="{{ path('greenarea_edit', {'id': ga.getId()}) }}"
                                               class="btn btn-sm btn-warning">Détails <i
                                                        class="material-icons">edit</i></a>
                                            {{ include('green_area/_delete_form.html.twig') }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

