<div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/greenarea.jpg">
    <div class="logo"><a href="{{ path("root") }}" class="simple-text logo-normal">FormaGreen</a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active  ">
                <a class="nav-link" href="{{ path("root") }}">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path("member_index") }}">
                    <i class="material-icons">groups</i>
                    <p>Members</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path("formingStructure-index") }}">
                    <i class="material-icons">domain</i>
                    <p>Forming Structures</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path("subscription_index") }}">
                    <i class="material-icons">euro_symbol</i>
                    <p>Subscriptions</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path("partnership_index") }}">
                    <i class="material-icons">storefront</i>
                    <p>Partnerships</p>
                </a>
            </li>
            <li class="nav-item active-pro ">
                <a class="nav-link" href="{{ path("admin-index") }}">
                    <i class="material-icons">admin_panel_settings</i>
                    <p>Administrator Tools</p>
                </a>
            </li>
        </ul>
    </div>
</div>
