<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Create new Forming Structure</h4>
                <p class="card-category">Saisir les informations</p>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.fs_nom, 'Nom', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                            {{ form_widget(form.fs_nom, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {#{{ form_label(form.fs_type, 'Type', {'label_attr': {'class': 'bmd-label-floating'}}) }}#}
                            {{ form_widget(form.fs_type, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.fs_adresse, 'Adresse', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                            {{ form_widget(form.fs_adresse, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_label(form.fs_phone, 'Téléphone', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                            {{ form_widget(form.fs_phone, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_label(form.fs_email, 'Email', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                            {{ form_widget(form.fs_email, { 'attr': {'class': 'form-control', 'pattern': '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$'} }) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_label(form.fs_representing_name, 'Nom du représentant', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                            {{ form_widget(form.fs_representing_name, { 'attr': {'class': 'form-control', 'type': 'text'} }) }}
                        </div>
                    </div>
                </div>
                <button class="btn btn-success pull-right">{{ button_label|default('Enregistrer') }} <i
                            class="material-icons">done</i></button>
                <div class="clearfix"></div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
